.main-container {
  padding: 40px 10% 0.5% 10%;

  .year {
    margin-bottom: 50px;
    p{
      margin-bottom: 0px;
    }
    hr {
      clear: both;
      display: inline-block;
      width: 100%;
      border: solid 3px #E8E7E8
    }
    .title {
      color: darkblue;
    }
    .extras {

    }
    .people {
      
    }
  }

}